<div class="container text-center">
    <div class="row">
      <div class="col">
        <h2>Mecenary Enrollment</h2>
        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1649900256i/60809143.jpg" alt="">
      </div>
      <div class="col">
        <h2>Castle</h2>
        <img src="https://preview.redd.it/etfiszy61su71.png?auto=webp&s=73aebdd5d0c6162d89befa5a1863811b553b6426" alt="">
      </div>
      <div class="col">
        <h2>Sakamoto Days</h2>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c8/Sakamoto_Days_manga_volume_1.jpg/220px-Sakamoto_Days_manga_volume_1.jpg" alt="">
      </div>
    </div>
  </div>
