

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mecenary Enrollment</td>
        <td>Castle</td>
        <td>Sakamoto Days</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Release Date: June 30, 2021.</td>
        <td>Release Date: March 1, 2022</td>
        <td>Release Date: November 21, 2020</td>
      </tr>
    </tbody>
  </table>