

    <div class=" max-w p-6 bg-white border-gray-200  shadow dark:bg-gray-800 dark:border-gray-700 ">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Pravda High School</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Pravda High School (プラウダ高校) is one of the schools in Girls und Panzer. The school operates Soviet World War Two tanks including T-34/76s, T-34/85s, a KV-2 and an IS-2. The school is also believed to have the third largest tank arsenal, behind Saunders and Kuromorimine.</p>
        <br>
        <h2 class="object-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Overview</h2>
        <p class=" mb-3 font-normal text-gray-700 dark:text-gray-400">Pravda is a school based in the Aomori Prefecture, the northernmost prefecture on the island of Honshu.

        A well known and highly respected school in the Sensha-dō league, Pravda are amongst the top performers in every competition, and were the defending champions at the time of the anime series.
            
        In contrast to most other schools, Pravda is not run by a student council, and is instead under the rule of the Sensha-dō captain, Katyusha, who exerts her authority in a dictatorship-esque fashion. Many of the school 'rules' are a consequence of the hapless first year students running to obey Katyusha's every whim.
            
        The school environment is highly punitive, with persistent references to "purges", "gulags" and "Siberian mines" as forms of punishments for those who upset the commander. The liberal and subjective manner in which these punishments are distributed invokes many taboo actions or opinions, often regarding Katyusha's height. Katyusha's excessive disciplining is balanced by vice-commander Nonna, who considerately scales down the sentence to more traditional punishments, like forced labor or "extra homework in a classroom without windows".
            
        Pravda also have an underground railway facility to navigate through winter storms in the carrier's lower deck. The railway is connected to everywhere on the school ship and was originally used for mailing purpose. They also had a night train but it was abolished.</p>
        <br>
        <h2 class="object-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Background</h2>
        <p class=" mb-3 font-normal text-gray-700 dark:text-gray-400">When the Tsardom of Russia (and later the Russian Empire) was developing the Eastern territories, they needed places to service their ships. Because of their proximity to Japan's northern islands, Russia sent men and resources to the area to build ports and ship yards that became Pravda. The native Russians that were there built a school for their children, and when the trade route with Russia was formally completed in the 1890s, many Russians spent the rest of their lives in Japan. Their children attended a school built from a 2nd hand ship that became modern Pravda.

        When Sensha-dō reached its prime, Pravda had the advantage of being able to import tanks directly from Russia. They became really strong after the 1980s when they got themselves T-34s and IS-2s. The tanks themselves are often modified to suit their needs too, with upgrades to optics and radio, and weight modifications to go faster.
            
        Pravda is the envy of smaller schools, and is one of the few that were able to field 50 tanks at a time for a special exhibition 50 vs. 50 match.
            
        62nd National High School Sensha-Dō Tournament
        One year before the events of the anime, Pravda High School faced Kuromorimine Girls Academy in the finals of the 62nd National High School Sensha-dō Tournament. Kurmorimine were the favourites to win the competition, but the match took an unexpected twist when the vanguard of Kuromorimine's flag tank fell into a raging river.
            
        Despite being in close proximity to the Pravda, the commander of the Kuromorimine flag tank abandoned her vehicle to save the lives of the crew of the sinking tank. Pravda seized the opportunity and attacked the flag tank while it was blind. The enemy vehicle was easily disabled, leading to Pravda winning the tournament and derailing their opponent's nine-year winning streak.</p>
    </div>
